# npm
node_modules

# remix
/.cache
/netlify/functions/server/build
/public/build

# netlify
.netlify

# target path for styles bundles
/app/styles
# target path for asset-loader
/public/styles-assets
# target path for generation of svg components
/app/svgs